# General
.DS_Store
*.log
*.log.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
Thumbs.db
desktop.ini

# IDE specific
.idea/
.vscode/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Backups
*.bak
*.tmp
*~
